div{
    text-align: center;
    text-transform: uppercase;
    background-image:
        linear-gradient(
            to right bottom,
          rgba(136, 122, 115, 0.5),
            rgba(138, 134, 132, 0.5)
            ), url(media/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #caffee;
    height: 100vh;
}
li{
    list-style-type: none;
}
.sepia{
    filter: sepia(100%);
}